@charset "utf-8";

:root {
    --item-margin-top: 15px;
}

* {
    box-sizing: 0px;
    margin: 0px;
    padding: 0px;
}

main {
    margin: 80px auto;
    width: 380px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px #999;
}

#result {
    font-family: "Courier New";
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    padding: 16px 0px;
    border-radius: 8px;
    font-size: 24px;
}

button {
    all: unset;
    color: #FFF;
    background-color: #08c;
    width: 100%;
    text-align: center;
    margin-top: var(--item-margin-top);
    padding: 16px 0;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

fieldset {
    border: 1px dashed #aaa;
    border-radius: 8px;
    margin-top: var(--item-margin-top);
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

legend {
    padding: 0 6px;
}

[name=password-length] {
    display: inline-block;
    text-align: center;
    width: 24px;
}

label > input[type=checkbox], label > input[type=range] {
    margin-left: 5px;
}